@font-face{
    font-family: "EB Garamond";
    src: url('static/eb-garamond-v27-latin-regular.woff2'), format('woff2');
}

body {
    font-family: Garamond, "EB Garamond", serif;
    font-size: 1em;
    padding:1em;
    margin:0;
    line-height: 1.5em;
}


div.links { display:flex;  justify-content: center; gap: 1em}

a {text-decoration: none;}

a:link { color: #1c428d}
a:visited { color: #13306a}

h2, h3 {
    font-family: Garamond, "EB Garamond";
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 0px;
}

hr { border: 1px solid #ccc}

.container {
    background-color: #fff;
    margin:0px;
    width: 90%;
}


.head-img {
    border-radius: 1em;
    width: 8em;
    height: 8em;
    background-image: url(static/portrait3.jpg);
    background-size: 100%;
    display: block;
    margin: 0em;
}

.small {
    font-size: 0.9em;
}


.article-img {
    border-radius: 1em;
    width: 3em;
    height: 3em;
    display: block;
    margin: 0.2em;
}

.article {margin: 0.2em}
.article p {margin:0px; }
.article p.title { font-weight: bold;}
.article p.authors { font-size: 1em;}
.article p.journal { font-style: italic;}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 1.2em;
}

[class*="col-"] {
    width: 100%;
    display:block;
}

.head {line-height: 1.3em; padding-left: 1em;} 
.head h1 {margin-bottom: 0.3em; margin-top: 0;; font-size: 1.4em;}
.head span { margin-left:0.5em; margin-right: 0.5em;}

p.intro {
    font-size: large;
    padding: 0em;
    line-height: 1.5em;
}

a.paper-link {
    background-color: #ccc;
    border-radius: 0.3em;
    padding:0.1em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-size: smaller;
    font-style: normal;
    color: black;
    text-decoration: none;
}

.col.head a {
    color: #000;
}

i.icon { display: inline-block; margin-right: 0.3em; width: 0.7em; height: 0.7em; line-height: 1; vertical-align: middle;}
i.envelope { background: no-repeat url('static/mail.svg');  background-size: 100%;}
i.github { background: no-repeat url('static/github-mark.svg');   background-size: 100%;}
i.scholar { background: no-repeat url('static/hat.svg'); background-size: 100%;}

.footer {
    display:block;
}

.foot {
    width:100%; 
    padding: 1em;
}

@media only screen and (min-width: 800px) {

    body {
        font-size: 1.15em;
    }

    .col.image img {width: 10em; margin-top: 3em; }
    .col.head a {font-size:1em}

    .head {margin-top: 3em; }

    .head-row {
        margin-left: 0em;
        margin-right: 0em;
    }    

    i.icon { display: inline-block; margin-right: 0.3em; width: 1em; height: 1em; line-height: 1; vertical-align: middle;}

    p.intro {
        padding-left: 0em;
        padding-right: 0em;
        font-size: 1.15em;
    }


    .container {
        background-color: #fff;
        border-radius: 1em;
        
        width: 80%;
        max-width: 38em;
        margin: auto;
        padding: 1em;
        padding-left: 2em;
    
        --box-shadow: 0.3em 0.3em 1em grey;
    }

    .head-img {
        width: 15em;
        height: 15em;
    }

    .article-img {
        width: 6em;
        height: 6em;
        margin: 0.5em;
    }

    .article {margin: 0.5em}

    .footer {
        display:flex;
    }
    
    .foot {
        width:45%; 
        padding: 1em;
        float:none;
    }    
}
